<%- include('../includes/head');%>
<%- include('../includes/navbar');%>


    <div class="row text-center d-flex justify-content-center">

        <% vendors.forEach(vendor => { %>
            <div class="col">
                <div class="card">
                    <img src="<%= vendor.imageUrl %>" alt="<%=vendor.name%>" width="150" class="card-img-top">
                    <div class="card-body">
                        <div class="card-title"><%= vendor.name%></div>
                        <a href="#" class="btn btn-success stretched-link">detail</a>
                    </div>
                </div>
            </div>
        <%}); %> 
    </div>
    

<%- include('../includes/end');%>